@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

h3 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: auto;
  max-height: fit-content;
  padding-bottom: 25px;
}


.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  margin: 0 20px;
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #00a2ff, #348ed8, #0081c9, #00a6ff, #099eee, #00a2ff);
  animation: BackgrounMovment 5s ease infinite;
  border-radius: 5px;
  background-size: 150%;
  left: 0;
  transform-origin: right;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 0.1s;
}

.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigation button {
  width: auto;
  padding-right: 20px;
  font-size: 1.1em;
  font-family: 500;
  height: 50px;
  text-align: center;
  color: #000000;
  background: transparent;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
  padding: 0 5px;
}

.navigation button:hover {
  color: black;
  text-align: center;
  background: linear-gradient(to right, #00a2ff, #348ed8, #00a6ff, #099eee, #00a2ff);
  animation: BackgrounMovment 5s ease infinite;
  font-size: 1.3em;
  background-size: 200% 200%;
}

.adasd {
  display: none;
  transition: all 250ms ease;
}

.Difuminado {
  display: block;
  position: fixed;
  background: #00000091;
  transition: all 550ms ease;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: 103;
  top: 0;
  left: 0;
  backdrop-filter: blur(25px);

}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: auto;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  padding: 5px;
  background: #191919;
}

.box::before {
  content: "";
  background: conic-gradient(#348ed8 360deg, transparent);
  height: 200%;
  width: 30vw;
  position: absolute;

  animation: rotate 3s infinite linear;
}



@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}


.contenidoWrapper {
  background: #ffffff;
  opacity: 1;
  width: 60vw;
  color: #191919;
  padding: 5px;
  font-family: monospace;
  border-radius: 10px;
  z-index: 108;
}


@keyframes animate {

  0% {
    transform: rotate(360deg);
  }

  50% {
    transform: rotate(0deg);

  }

  100% {
    transform: rotate(-360deg);
  }
}

.icon-close {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  border: 0;
  border-radius: 10px;
  color: black;
  outline: none;
  cursor: pointer;
  border: 2px solid #191919;
  transition: 250ms;
  background: white;

}

.icon-close:hover {
  background: #348ed820;
  box-shadow: 0 0 2px black;
}

.contenidoWrapper h2 {
  font-size: 1.5em;
  margin: 0px;
  padding: 15px 15px;
}

.contenidoWrapper .form-box .input-box {
  position: relative;
  width: 60%;
  margin: 25px 0;
  left: 50%;
  transform: translate(-50%);
}

.Label {
  position: absolute;
  margin-top: 2%;
  left: 8px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #191919;
  font-weight: 500;
  transition: all 100ms ease-out;
  pointer-events: none;
}

.input-box input:focus~label {
  margin-top: -0.5%;
}


.input-box input:valid~label {
  margin-top: -0.5%;
}

.contenidoWrapper .form-box .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #162938;
  text-align: left;
  font-size: 1em;
  color: #191919;
  font-weight: 600;
  padding: 0 35px 0 5px;
  margin: 10px;
  transition: all 250ms ease;
  margin: 15px 0px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #191919;
  font-size: 1.2em;
  top: -5px;
  line-height: 57px;
}

.btn {
  width: 50%;
  cursor: pointer;
  border: none;
  font-weight: 500;
  outline: none;
  color: #fff;
  margin: 45px 0;
  margin: 0 auto;
  transition: .5s ease;
  border-radius: 6px;
  height: 45px;
  font-size: 1em;
  background: #191919;
}

.btn:hover {
  background: #282828;
  transform: scale(1.01);
  box-shadow: 0 0 10px black;
  border: 2px solid rgb(46, 46, 46);
}

.socialLinks {
  color: white;
  position: relative;
  padding: 15px 8px;
  display: flex;
  justify-content: center;
}

.socialLinks a {
  transition: 111ms;
  text-decoration: none;
  color: #191919;
  font-weight: 800;
  margin: 10px 10px;
}

.socialLinks a:hover {
  font-weight: 1500;
  color: #585858;
}

.contenidoHeader {
  display: flex;
  align-items: center;
  width: auto;
  top: 0;
  min-width: 1200px;
  background: rgb(238, 238, 238);
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0 0 5px #191919;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: fixed;
  padding: 10px 20px;
  left: 50%;
  transform: translate(-50%);
}

.logo-title {
  display: flex;
  margin: 0px;
  padding: 0px;
  float: right;
  pointer-events: painted;
}

.logo-title h1 {
  display: flex;
  align-items: center;
  width: 20.4ch;
  margin: 0 15px;
  transition: all 250MS ease;
}

.logo-title h1:hover {
  background: linear-gradient(to right, #00a2ff, #348ed8, #0081c9, #00a6ff, #099eee, #00a2ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: BackgrounMovment 5s linear infinite;
  background-size: 150% 150%;
}


.MainContent {
  display: flex;
  flex-direction: column;
  margin-left: 0 auto;
  margin-top: 125px;
  justify-content: center;
  align-items: center;
}

.Instrucciones {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 10;
  width: 100%;
  color: #191919;
}

.Instrucciones h2 {
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 10px;
  margin: 0 auto;
  transition: all .5s ease;
  width: auto;
}


.Instrucciones p {
  font-size: 18px;
}

.Instrucciones p>a {
  text-decoration: none;
  color: #191919;

}

.ig-inst:hover {
  background: linear-gradient(to left top, #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5);
  background-size: 200% 200%;
  animation: BackgrounMovment 1s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.wsp-inst:hover {
  background: linear-gradient(to left bottom, #075e54,
      #128c7e,
      #25d366,
      #dcf8c6,
      #ece5dd);
  background-size: 200% 200%;
  animation: BackgrounMovment 1s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.serviceCards {
  width: 250px;
  height: 250px;
}

.N1SC {
  display: inline-block;
  transition: all 250ms ease;
  text-align: center;
  border-radius: 15px;
  width: auto;
  height: auto;
  margin: 15px;

}


.N2SC {
  display: inline-block;
  border-radius: 15px;
  transition: all 250ms ease;
  margin: 15px;
  text-align: center;
  background-position: cover;
}



.serviceCards::before {
  background: #2a2a2a81;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  backdrop-filter: blur(5px);
  color: #ffffff;
  content: "";
  z-index: 10;
}

.N1SC img {
  border-radius: 15px;
}

.N2SC img {
  border-radius: 15px;
}

.numero1SeviceCard1:hover::before {
  content: "Mantenimiento y Servicio de Congeladores";
  border-radius: 15px;
  opacity: 1;
}

.numero2SeviceCard1:hover::before {
  border-radius: 15px;
  opacity: 1;
  content: "Servicio a neveras";
}

.numero3SeviceCard1:hover::before {
  content: "Servicio a lavadoras";
  border-radius: 15px;
  opacity: 1;
}


.numero1SeviceCard2:hover::before {
  content: "Servicio a aire de ventana";
  border-radius: 15px;
  opacity: 1;
}

.numero2SeviceCard2:hover::before {
  content: "Servicio a aire acondicionado";
  border-radius: 15px;
  opacity: 1;
}


.numero3SeviceCard2:hover::before {
  content: "Servicio a aire  automotriz";
  opacity: 1;
  border-radius: 15px;
}



.ubicacion {
  height: auto;
  margin: 30px 0;
}



#mapa iframe {
  width: auto;
  height: auto;
  min-width: 42vw;
  min-height: 50vh;
  border-radius: 1ch;
  border: 2px solid black;
}

.mapaCerrado {
  transition: display 250ms ease;
  display: none;
  border-radius: 25px;
}

.mapaAbierto {
  display: block;
}

@keyframes BackgrounMovment {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes hover {

  0%,
  100% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }
}

@media (max-width: 1200px) {




  .contenidoHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    min-width: 100vw;
    height: auto;
    justify-content: center;
    padding: 20px 20px;
  }

  .logo-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .logo-title img {
    width: 15vw;
    height: 15vw;
  }

  .logo-title h1 {
    font-size: 4vw;
    padding: 10px 0px;
  }

  .Instrucciones h2 {
    font-size: 3em;
    margin-top: 15px;
  }

  .Instrucciones h3 {
    font-size: 2.5em;

  }

  .Servicio h2 {
    padding: 25px 0px;
  }

  .ubicacion {
    font-size: 2.5em
  }

  summary {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .MainContent {
    position: relative;
    margin-top: 350px;
    left: 50%;
    transform: translate(-50%);
  }

  .navigation a {
    display: none;
  }

  .Servicio h2 {
    font-size: 3em;
  }

  .navigation button {
    margin: 10px 10px;
    font-weight: 600;
    border: 2px solid #191919;
    border-radius: 10px;
  }

  .contenidoWrapper {
    font-size: 2vh;
  }

  .contenidoWrapper a {
    margin: 15px;
  }


  .N1SC {
    width: 45vw;
    margin: 25px;
    height: 45vw;
  }

  .N2SC {
    width: 45vw;
    height: 45vw;
    margin: 25px;
  }

  .serviceCards img {
    width: 100%;
    height: 100%;
  }

  .serviceCards::before {
    width: 45vw;
    font-size: 2em;
    height: 45vw;
  }

  .btn {
    height: auto;
    margin: 20px 0px;
    font-size: 2.5vh;
    padding: 10px;
  }


  .Difuminado {
    left: 0;
  }


  #mapa>iframe {
    min-width: 60vw;
    min-height: 60vw;
  }

  .socialLinks {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  padding: 20px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

*::-webkit-scrollbar-track:active {
  background-color: #c3c3c3;
}

*::-webkit-scrollbar-thumb {
  background-color: #348ed8;
  top: 0;
  border: 2px solid black;
  margin: 10px;
  border-right: transparent;
  border-top: transparent;
}