header {
  background-size: auto;
  width: auto;
  position: fixed;
  height: 20.4%;
  min-width: 1250px;
  max-width: 100%;
  left: 50%;
  transform: translate(-50%);
  z-index: 50;
  top: 0px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

body {
  background: linear-gradient(180deg, #f4f0f0, #fff);

  animation: BackgrounMovment 50ms ease infinite;
}

.Contácto {
  display: flex;
  background: rgb(240, 240, 240);
  justify-content: center;
  margin: 0px;
  font-size: 15px;

  color: rgb(193, 193, 193);
  height: auto;

  align-items: center;
  border-bottom: solid 2px rgb(193, 193, 193);
}

.Contácto div {
  border-left: 1px rgb(193, 193, 193) solid;
  padding: 10px;
  border-right: 1px rgb(190, 190, 190) solid;
}

.Contácto a {
  text-decoration: none;
  color: rgb(193, 193, 193);
}

.Contácto {
  border-top: 2px solid rgb(193, 193, 193);
}
i a:hover {
  color: #099eee;
}

i:hover {
  color: #0081c9;
}

.contenidoHeader {
  display: flex;
  align-items: center;
  background: rgb(240, 240, 240);
  justify-content: space-between;
  border: solid 2px rgb(193, 193, 193);
  padding-left: 15px;
  padding-right: 15px;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo-title {
  display: flex;
  margin: 0px;
  padding: 0px;
  float: right;
}

.logo-title h1 {
  display: flex;
  align-items: center;
}

.MenuLinks {
  display: flex;
  padding: 10px;
  list-style: none;
  font-size: 18px;
  float: left;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MenuLinks a {
  color: black;
  margin: 10px;
  transition: all 85ms ease;
  text-decoration: none;
}

.MenuLinks a:hover {
  font-size: 20px;
  color: white;
  box-shadow: 0.1px 0.1px 20px #001b2b25;
  background: #099eee;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.contactanos {
  background-image: url(/Captura\ de\ pantalla\ 2023-02-26\ 051502.jpg);
}

h3 {
  font-size: 25px;
  padding: 40px;
  text-align: center;
}

.Servicios {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  zindex: 5;
  width: auto;
}

.serviceCards {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: all 250ms ease;
}

.serviceCards img {
  border-radius: 10px;
}

.serviceCards::before {
  z-index: 8;
}

.N1SC {
  display: inline-block;
  transition: all 250ms ease;
  text-align: center;
  background-position: cover;
}

.N2SC {
  transition: all 250ms ease;
  display: inline-block;
  text-align: center;
  background-position: cover;
}

.N3SC {
  transition: all 250ms ease;
  display: inline-block;
  text-align: center;
  background-position: cover;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: rgb(185, 185, 185);
}

*::-webkit-scrollbar-track:hover {
  background-color: rgb(193, 193, 193);
}

*::-webkit-scrollbar-track:active {
  background-color: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: #0081c9;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #099eee;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #00a6ff;
}

.numero1SeviceCard1::before {
  content: "Sevicio a Domicilio";
  background: #2a2a2a81;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  backdrop-filter: blur(5px);
  color: #ffffff;
  zindex: 10;
}

.numero1SeviceCard1:hover::before {
  opacity: 1;
  border-radius: 10px;
  cursor: default;
}

.numero2SeviceCard1::before {
  content: "Métodos de pago";
  background: #2a2a2a67;
  width: 250px;
  height: 250px;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  color: #ffffff;
  zindex: 10;
}

.numero2SeviceCard1:hover::before {
  opacity: 1;
  cursor: default;
  border-radius: 10px;
}

.numero3SeviceCard1::before {
  content: "Revisión y diagnóstico";
  background: #2a2a2a67;
  width: 250px;
  height: 250px;
  zindex: 10;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  color: #ffffff;
}

.numero3SeviceCard1:hover::before {
  opacity: 1;
  border-radius: 10px;
  cursor: default;
}

.numero1SeviceCard1::before {
  content: "Sevicio a Domicilio";
  background: #2a2a2a81;
  width: 250px;
  zindex: 10;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  backdrop-filter: blur(5px);
  color: #ffffff;
}

.numero1SeviceCard1:hover::before {
  opacity: 1;
  border-radius: 10px;
}

.numero1SeviceCard2::before {
  content: "Mantenimiento de congeladores";
  background: #2a2a2a81;
  width: 250px;
  zindex: 10;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  backdrop-filter: blur(5px);
  color: #ffffff;
}

.numero1SeviceCard2:hover::before {
  opacity: 1;
  border-radius: 10px;
  cursor: default;
}

.numero2SeviceCard2::before {
  content: "Servicio a neveras";
  background: #2a2a2a67;
  width: 250px;
  height: 250px;
  backdrop-filter: blur(5px);
  zindex: 10;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  color: #ffffff;
}

.numero2SeviceCard2:hover::before {
  opacity: 1;
  cursor: default;
  border-radius: 10px;
}

.numero3SeviceCard2::before {
  content: "servicio a lavadora";
  background: #2a2a2a67;
  width: 250px;
  height: 250px;
  zindex: 10;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  color: #ffffff;
}

.numero3SeviceCard2:hover::before {
  opacity: 1;
  cursor: default;
  border-radius: 10px;
}

.numero1SeviceCard3::before {
  content: "Servicio a aire de ventana";
  background: #2a2a2a81;
  width: 250px;
  zindex: 10;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  backdrop-filter: blur(5px);
  color: #ffffff;
}

.numero1SeviceCard3:hover::before {
  opacity: 1;
  cursor: default;
  border-radius: 10px;
}

.numero2SeviceCard3::before {
  content: "-----Horarios-----008:00am-05:00pm;-";
  background: #2a2a2a67;
  width: 250px;
  height: 250px;
  backdrop-filter: blur(5px);
  zindex: 10;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  color: #ffffff;
}

.numero2SeviceCard3:hover::before {
  opacity: 1;
  border-radius: 10px;
  cursor: default;
}

.numero3SeviceCard3::before {
  content: "servicio de aire automotriz";
  background: #2a2a2a67;
  width: 250px;
  height: 250px;
  zindex: 10;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  transition: all 250ms ease;
  opacity: 0;
  color: #ffffff;
}

.numero3SeviceCard3:hover::before {
  opacity: 1;
  border-radius: 10px;
  cursor: default;
}

.Instrucciones {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10px;
  padding: 15px;
  color: #191919;
}

.Instrucciones h2 {
  font-size: 25px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}
.Instrucciones h3 {
  font-size: 19px;
  padding: 10px;
  margin: 0px;
}

.Instrucciones a {
  text-decoration: none;
  color: #191919;
  font-weight: bold;
}

.ubicacion {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  transition: all 300ms ease;
}

.ubicacion i {
  transition: all 300ms ease;
}

.ubicacion i:hover {
  transform: scale(1.3);
}

iframe {
  width: auto;
  min-width: 600px;
  padding-bottom: 20px;
  min-height: 400px;
  padding-top: 20px;
  height: auto;
  transition: all 250ms ease;
  border-radius: 15px;
  border: 2px solid rgb(193, 193, 193);
}

.mapaCerrado {
  transition: all 500ms ease;
  display: none;
  border-radius: 25px;
}

.mapaAbierto {
  display: block;
  border-radius: 25px;
}

@media (max-width: 1250px) {
  .contenidoHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(242, 242, 242);
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
  }

  .logo-title {
    display: block;
    text-align: center;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  iframe {
    width: auto;
    min-width: 325px;
    padding-bottom: 10px;
    min-height: 325px;
    height: auto;
  }

  .ubicacion {
    transition: all 5s ease;

    margin-top: 10px;
  }

  .Contácto {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  .Contácto div {
    border-top: 2px solid rgb(185, 185, 185);
    border-left: 0px;
    border-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgb(185, 185, 185);
  }
}

@keyframes BackgrounMovment {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: fixed;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1250px;
}
